.post {
 background: var(--gray-800);
 padding: 2.5rem;
 border-radius: 8px;
}

.post header {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.post header time {
 font-size: 0.875rem;
 color: var(--gray-400);
}

.author {
 display: flex;
 align-items: center;
 gap: 1rem;
}

.authorInfo {
 display: flex;
 flex-direction: column;
}

.authorInfo strong {
 line-height: 1.6rem;
 color: var(--gray-100);
}

.authorInfo span {
 color: var(--gray-400);
 font-size: 0.875rem;
 line-height: 1.6;
}

.content {
 color: var(--gray-300);
 margin-top: 1.5rem;
 line-height: 1.6;
}

.content p {
 margin-top: 1rem;
}

.content a {
 text-decoration: none;
 font-weight: bold;
 color: var(--green-500);
}

.content a:hover {
 color: var(--green-300);
}

.commentForm {
 width: 100%;
 margin-top: 1.5rem;
 padding-top: 1.5rem;
 border-top: 1px solid var(--gray-600);
}

.commentForm > strong {
 line-height: 1.6;
 color: var(--gray-100);
}

.commentForm > textarea {
 width: 100%;
 border: 1px solid var(--green-300);
 background: var(--gray-900);
 border:0;
 resize: none;
 height: 6rem;
 padding: 1rem;
 border-radius: 8px;
 color: var(--gray-100);
 margin-top: 1rem;
}

.commentForm footer {
 visibility: hidden;
 max-height: 0;
}

.commentForm:focus-within footer {
 visibility: visible;
 max-height: none;
}

.commentForm button {
 padding: 1rem 1.5rem;
 margin-top: 1rem;
 border: 0;
 border-radius: 8px;
 background: var(--green-500);
 color: var(--white);
 font-weight: bold;
 cursor: pointer;

 transition: background-color 0.2s;
}

.commentForm button:not(:disabled):hover {
 background: var(--green-300);
}

.commentForm button:disabled {
 opacity: 0.75;
 cursor: not-allowed;
}

.post + .post {
 margin-top: 2rem;
}

.commentList {
 margin-top: 2rem;
}